.SummaryBg {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text_{
    font-size: 20px;
    text-align: left;
    margin-top: 13px;
}


.texttop{
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
}

.cardBg {
    margin-bottom: 50px;
}