.sellBg {
    width: 100%;
    height: auto;
    background-attachment: fixed;
}

/*
.sellBg .kraben {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 170px;
    margin-top: 30px;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
}

.sellBg .info{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
*/

.sell {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sell .sellTitle {
    font-family: cursive;
    font-size: 60px;
}

.sellTitle div {
    align-items: center;
}